<div class="card">
  <div class="card-h1">Crear Proveedor</div>
  <div class="card-body">
    <div *ngIf="!submitted">
      <div class="card-form">
        <form [formGroup]="formulario" (ngSubmit)="submit()">
          <div class="form-row">

            <div class="col-md-6">
              <label for="nombre">Nombre</label>
              <input name="nombre" type="text" formControlName="nombre" placeholder="Escribir aquí" id="nombre" />
              <div *ngIf="nombreFieldInvalid">
                <mat-error *ngIf="nombre?.hasError('required')">
                  El Nombre es Obligatorio
                </mat-error>
              </div>
            </div>

            <div class="col-md-6">
              <label for="apellido">Apellido</label>
              <input name="apellido" type="text" formControlName="apellido" placeholder="Escribir aquí" id="apellido" />
              <div *ngIf="apellidoFieldInvalid">
                <mat-error *ngIf="apellido?.hasError('required')">
                  El Apellido es Obligatorio
                </mat-error>
              </div>
            </div>

            <div class="col-md-6">
              <label for="correo">Correo</label>
              <input name="correo" type="text" formControlName="correo" placeholder="Escribir aquí" id="correo" />
              <div *ngIf="correoFieldInvalid">
                <mat-error *ngIf="correo?.hasError('required')">
                  El Correo es Obligatorio
                </mat-error>
              </div>
            </div>

            <div class="col-md-6">
              <label for="telefono">Teléfono</label>
              <input name="telefono" type="text" formControlName="telefono" placeholder="Escribir aquí" id="telefono" />
              <div *ngIf="telefonoFieldInvalid">
                <mat-error *ngIf="telefono?.hasError('required')">
                  El Teléfono es Obligatorio
                </mat-error>
              </div>
            </div>

            <div class="col-md-6">
              <label for="direccion">Dirección</label>
              <input name="direccion" type="text" formControlName="direccion" placeholder="Escribir aquí"
                id="direccion" />
              <div *ngIf="direccionFieldInvalid">
                <mat-error *ngIf="direccion?.hasError('required')">
                  La Dirección es Obligatoria
                </mat-error>
              </div>
            </div>

            <div class="col-md-6">
              <label for="razonSocial">Razón Social</label>
              <input name="razonSocial" type="text" formControlName="razonSocial" placeholder="Escribir aquí"
                id="razonSocial" />
              <div *ngIf="razonSocialFieldInvalid">
                <mat-error *ngIf="razonSocial?.hasError('required')">
                  La Razón Social es Obligatoria
                </mat-error>
              </div>
            </div>

            <div class="col-md-6">
              <label for="tipoProveedor">Tipo de Proveedor</label>
              <select name="tipoProveedor" type="text" formControlName="tipoProveedor" id="tipoProveedor">
                <option value="0">Seleccione un Tipo de Proveedor</option>
                <option *ngFor="let item of tipoProveedorList" value="{{item.id}}">
                  {{item.tipoProveedor}}
                </option>
              </select>
              <div *ngIf="tipoProveedorFieldInvalid">
                <mat-error *ngIf="tipoProveedor?.hasError('required')">
                  El Tipo de Proveedor es Obligatorio
                </mat-error>
              </div>
            </div>

            <div class="col-md-6">
              <label for="tipoIdentificacion">Tipo de Identificación</label>
              <select name="tipoIdentificacion" type="text" formControlName="tipoIdentificacion" id="tipoIdentificacion">
                <option value="0">Seleccione un Tipo de Identificación</option>
                <option *ngFor="let item of tipoIdentificacionList" value="{{item.id}}">
                  {{item.tipoIdentificacion}}
                </option>
              </select>
              <div *ngIf="tipoIdentificacionFieldInvalid">
                <mat-error *ngIf="tipoIdentificacion?.hasError('required')">
                  El Tipo de Identificación es Obligatorio
                </mat-error>
              </div>
            </div>

            <div class="col-md-6">
              <label for="numeroIdentificacion">Número de Identificación</label>
              <input name="numeroIdentificacion" type="text" formControlName="numeroIdentificacion" placeholder="Escribir aquí"
                id="numeroIdentificacion" />
              <div *ngIf="numeroIdentificacionFieldInvalid">
                <mat-error *ngIf="numeroIdentificacion?.hasError('required')">
                  El número de Identificación es Obligatoria
                </mat-error>
              </div>
            </div>

          </div>
          <div class="container-btn">
            <button class="btn btn-new" type="submit" [disabled]="!formulario.valid">Guardar</button>
          </div>
        </form>
      </div>

    </div>
    <div *ngIf="submitted">
      <h3>Creaste un nuevo Proveedor!</h3>
      <button class="btn-new" (click)="nuevoProveedor()">Crear Nuevo</button>
      <button routerLink="/proveedor/consultar" class="btn-new">Ver Registros</button>
    </div>
  </div>
</div>