<div class="login-box">
  <h1>Login Hola mundo</h1>
  <form >
    <!-- USERNAME INPUT -->
    <label for="username">Username</label>
    <input type="text"  placeholder="Enter Username" id="username">
    <!-- PASSWORD INPUT -->
    <label for="password">Password</label>
    <input type="password" placeholder="Enter Password" id="password" >
    <input type="submit" value="Log In">
  </form>
</div>


<!-- (ngSubmit)="login()" -->

<!-- [(ngModel)]="password" name="password" required -->
<!-- [(ngModel)]="username" name="username" required -->
