<div class="container">
    <div class="form-group"></div>
    <h2>consultar entrada de alimentos</h2>
    <table id="dataTable" class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Fecha</th>
          <th>Fecha de Vencimiento</th>
          <th>Número de Factura</th>
          <th>Registro ICA</th>
          <th>Número de Kilos</th>
          <th>Proveedor</th>
          <th>Tipo de alimento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of entradaAlimento; let i = index" class="entrada-alimento-item">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ item.fechaEntrada }}</td>
          <td>{{ item.fechaVencimiento }}</td>
          <td>{{ item.numeroFactura }}</td>
          <td>{{ item.registroIca }}</td>
          <td>{{ item.numeroKilos }}</td>
          <td>{{ item.proveedor.nombre }}</td>
          <td>{{ item.tipoAlimento.tipoAlimento }}</td>
          
          <td><button class="edit" (click)="editarEntradaAlimentos(item.id)">Editar</button></td>
          <td><button class="delete" (click)="eliminarEntradaAlimentos(item.id)">Eliminar</button></td>
        </tr>
      </tbody>
    </table>  
  </div>
  
