<div class="card">
  <div class="card-h1">Inventario de Alimento</div>
  <div class="card-body">
    <div class="card-form">
      <div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Numero de factura</th>
            <th scope="col">Tipo de alimento</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
    </div>
              <div class="container-btn">
          <button class="btn">Guardar</button>
        </div>
    </div>
  </div>
</div>
