<div class="container">
    <div class="form-group"></div>
    <h2>consultar salida de alimentos</h2>
    <table id="dataTable" class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Fecha de Salida</th>
          <th>Número de Factura</th>
          <th>Número de Kilos</th>
          <th>Lote</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of salidaAlimento; let i = index" class="salida-alimento-item">
          <th scope="row">{{ i + 1}}</th>
          <th>{{ item.fechaCreacion}}</th>
          <th>{{ item.numeroFactura}}</th>
          <th>{{ item.numeroKilos}}</th>
          <th>{{ item.lote.nombreLote}}</th>
  
          <td><button class="edit" (click)="actualizarSalidaAlimentos(item.id)">Editar</button></td>
        </tr>
      </tbody>
    </table>
    <button routerLink="/inventario/registrar-salida" class="btn-new">Registrar salida</button>
  </div>
  
  