<div class="card">
    <div class="card-h1">Registro de pesca</div>
    <div class="card-body">
      <div>
        <div class="card-form">
          <form>
            <div class="form-row">
              <!--select-->
              <div class="col-md-6">
                <label for="codigo">Lote</label>
                <input
                  name="Lote" 
                  type="text" 
                  formControlName="lote" 
                  placeholder=" Lote" 
                  id="lote" 
                   />
                   <div >

                  </div>
              </div>
                <!--select-->

              <div class="col-md-6">
                <label for="coordenadas">Unidad Productiva</label>
                <input 
                  name="unidadp" 
                  type="text" 
                  formControlName="unidadp" 
                  placeholder="Unidad Productiva" 
                  id="unidadp" 
                   />
                   <div >
                    
                  </div>
              </div>
  
              <div class="col-md-6">
                <label for="observacion">Fecha de pesca</label>
                <input 
                  name="fechapesca" 
                  type="Date" 
                  formControlName="fechapesca" 
                  placeholder="" 
                  id="fechapesca" 
                   />
                   <div >
                   
                  </div>
                   
              </div>
                            <!--select-->
              <div class="col-md-6">
                <label for="area">Especie</label>
                <input 
                  name="especie" 
                  type="text"  
                  formControlName="especie"
                  placeholder="Especie" 
                  id="especie" 
                  />
                  <div >
                    
                  </div>
              </div>            
              
              <div class="col-md-6">
                <label for="profundidad">Animales pescados</label>
                <input 
                  name="animalesp" 
                  type="text" 
                  formControlName="animalesp"
                  placeholder="Aniales pescados " 
                  id="animalesp" 
                 />
                 <div >
                 
                </div>
              </div>
              
              <div class="col-md-6">
                <label for="fechaRegistro">Peso promedio</label>
                <input 
                  name="pesopromedio" 
                  type="text" 
                  formControlName="pesopromedio"            
                  id="pesopromedio" 
                 />
                 <div >
                  
                </div>
              </div>
  
            </div>
            <div class="container-btn">
              <button class="btn-new" type="submit">Guardar</button>
            </div>
          </form>
        </div>
        
      </div>

    </div>
  </div>