<div class="container">
  <div class="form-group"></div>
  <h2>consultar entrada de alimentos</h2>
  <table id="dataTable" class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre Lote</th>
        <th>Fecha de Siembra</th>
        <th>Días Cultivo</th>
        <th>Número Animales</th>
        <th>Proveedor</th>
        <th>Especie</th>
        <th>Unidad Productiva</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of lote; let i = index" class="lote-item">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item.nombreLote }}</td>
        <td>{{ item.fechaSiembra }}</td>
        <td>{{ item.diasCultivo }}</td>
        <td>{{ item.numeroAnimales }}</td>
        <td>{{ item.proveedor.nombre }}</td>
        <td>{{ item.especies.nombreEspecie }}</td>
        <td>{{ item.unidadP.nombreUnidadP }}</td>
        
        <td><button class="edit" (click)="editarLote(item.id)">Editar</button></td>
        <td><button class="delete" (click)="eliminarLote(item.id)">Eliminar</button></td>
      </tr>
    </tbody>
  </table>  
  <button routerLink="/lote/registrar-lote" class="btn-new">Registrar Entrada</button>
</div>

